* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font" ;
    min-height: 12px;
}
#waybar {
  background-color: #333333;
  color: #ffffff;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: #000000;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: #000000;
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: #000000;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerdown,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}
#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}
#clock{
  color: #5fd1fa;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces {
    border: double 2px transparent;
    border-radius: 12px;
    background-image: linear-gradient(@bg, @bg),
                      linear-gradient(45deg, @bright-magenta, @bright-blue);
    background-origin: border-box;
    background-clip: content-box, border-box;
  
    margin-top: 6px;
    margin-bottom: 6px;
}
    
#workspaces button {
    padding: 0 0.4em;
    border-radius: 0;
    background-color: transparent;
    color: #ffffff;
    box-shadow: inset 0 -3px transparent;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #5fd1fa;
}
 
#workspaces button.focused {
   background-color: #64727D;
   box-shadow: inset 0 -3px #5fd1fa;
}

#workspaces button.urgent {
   background-color: #eb4d4b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
